@using WebApp.Models
@using WebApp.Utilities.Extensions
@using WebApp.Utilities.MenuAndRoles
@model  FmGTVergiKimlikNumaralari
@{ 
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var kayitYetki = RoleNames.GTVergiKimlikNumaralariKayit.InRole();
}

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-12">

            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-list-alt"></i> Vergi Kimlik Numarası Listesi</h3>
                    <ul class="panel-controls">
                        @if (kayitYetki)
                        {
                            <li><span class="label label-primary label-form"><a href="@Url.Action("Kayit")" style="color:white;"><i class="fa fa-plus fa-lg"></i> Yeni</a></span></li>
                        }
                        <li><span class="label label-info label-form">Toplam: <b>@Model.CountIngfos.Toplam</b></span></li>
                        <li><span class="label label-success label-form">Aktif: <b>@Model.CountIngfos.Aktif</b></span></li>
                        <li><span class="label label-danger label-form">Pasif: <b>@Model.CountIngfos.Pasif</b></span></li>
                        <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Index")';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="40"></th>
                                <th width="90" class="sirala sorting" field="VergiKimlikNo">Vergi Kimlik Numarası</th>
                                <th class="sirala sorting" field="AdSoyad">Ad Soyad</th>  
                                <th width="70" class="sirala sorting" field="IsAktif">Durum</th>
                                <th width="35"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="filtrele">
                                <th></th>
                                <th>
                                    <input name="VergiKimlikNo" type="text" value="@Model.VergiKimlikNo" class="form-control" />
                                </th>
                                <th>
                                    <input name="AdSoyad" type="text" value="@Model.AdSoyad" class="form-control" />
                                </th>
                                <th>
                                    @Html.DropDownList("IsAktif", null, new { @class = "form-control", style = "padding:0px;" })
                                </th>
                                <th> </th>
                            </tr>
                            @if (Model.RowCount > 0)
                            {
                                var rowIndex = Model.StartRowIndex;  
                                foreach (var item in Model.Data)
                                {
                                    rowIndex++; 
                                    <tr>

                                        <td>@rowIndex</td>

                                        <td>@item.VergiKimlikNo</td>
                                        <td>@item.AdSoyad</td>
                                        <td>
                                            <span class="badge badge-@(item.IsAktif ? "success" : "danger")">@item.IsAktif.ToAktifPasif()</span>
                                        </td>
                                        <td>
                                            @if (kayitYetki)
                                            {
                                                var rwId = Guid.NewGuid();

                                                <a href="@Url.Action("Kayit", "GTVergiKimlikNumaralari", new { id = item.GTVergiKimlikNoID })"><i class="fa fa-edit fa-lg tooltips" data-style="blue" data-original-title="Düzelt"></i></a>
                                                <a href="javascript:void(0)" onclick="SilmeOnay(this,'@item.GTVergiKimlikNoID','@rwId')"><i class="fa fa-trash-o fa-lg tooltips" data-style="blue" data-original-title="Sil"></i></a>

                                                <div class="hide" id="@rwId">
                                                    <div class="panel panel-default form-horizontal" style="margin:0px;padding:0px;">
                                                        <div class="panel-body" style="margin:0px;padding:0px;">
                                                            <div class="panel-body form-group-separated">
                                                                <div class="form-group">
                                                                    <label class="col-md-4 col-xs-4 control-label">Hesap Numarası</label>
                                                                    <div class="col-md-8 col-xs-8">@item.VergiKimlikNo</div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-md-4 col-xs-4 control-label">Hesap Adı</label>
                                                                    <div class="col-md-8 col-xs-8">@item.AdSoyad</div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-md-4 col-xs-4 control-label">Durum</label>
                                                                    <div class="col-md-8 col-xs-8">
                                                                        <span class="badge badge-@(item.IsAktif ? "success" : "danger")">@item.IsAktif.ToAktifPasif()</span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-md-4 col-xs-4 control-label">İşlem Yapan</label>
                                                                    <div class="col-md-8 col-xs-8">@item.IslemYapan [@item.IslemTarihi.ToFormatDateAndTime()][@item.IslemYapanIP]</div>
                                                                </div>
                                                                <div class="form-group" style="color:maroon;">
                                                                    <label class="col-md-4 col-xs-4 control-label"><i class='fa fa-info fa-2x'></i></label>
                                                                    <div class="col-md-8 col-xs-8">Seçilen Hesapi Silmek İstiyor Musunuz?</div>
                                                                </div>


                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </td>
                                    </tr>


                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" style="text-align: center;">
                                        [ Listelenen Kayıt Yok ]
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">

    function SilmeOnay(sndr, id, RwID) {
        var htmlCont = $('#' + RwID).html();
        bootbox.dialog({
            message: htmlCont,
            title: "Vergi Kimlik Numarası Silme İşlemi",
            buttons: {
                success: {
                    label: "Vergi Kimlik Numarasını Sil",
                    className: "btn-danger",
                    callback: function () {
                        Sil(sndr, id);
                    }
                },
                danger: {
                    label: "Vazgeç",
                    className: "btn-success",
                    callback: function () {
                    }
                }
            }
        });
    }
    function Sil(sndr, id) {
        $.ajax({
            url: '@Url.Action("Sil", "GTVergiKimlikNumaralari")',
            data: { id: id },
            success: function (result) {
                toastr[result.success ? "success" : "error"](result.message, "Vergi Kimlik Numarası Silme İşlemi")
                if (result.success) {
                    $(sndr).closest("tr").remove();
                     $(".cls-" + id).remove();
                }

            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }
</script>
