@using WebApp.Models
@using Database
@using WebApp.Business
@using WebApp.Utilities.Extensions
@using WebApp.Utilities.Helpers
@using WebApp.Utilities.MessageBox
@model Maddeler
@{
    var mmMessage = ViewBag.MmMessage as MmMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isUstMadde = (bool)ViewBag.IsUstMadde;
    var secilenlerBrm = (List<int>)ViewBag.SecilenlerBrm;

    var brData = BirimlerBus.GetMaddeBirimleri(Model.MaddeID, secilenlerBrm);
    brData.InputName = "BirimID";
    brData.PanelTitle = "İlgili Birimleri Seçiniz";

    var secilenlerDonem = (List<MaddelerVeriGirisDonemleri>)ViewBag.SecilenlerDonem;
    var donemData = MaddelerBus.GetMaddeVeriGirisDonemleri(Model.MaddeID, secilenlerDonem);
    donemData.InputName = "VaCokluVeriDonemIDs";
    donemData.PanelTitle = "Veri Girilecek Dönemleri Seçiniz";
    donemData.ShowIsDosyaYuklensin = true;
}
<div class="row">
    <form method="post" class="form-horizontal" role="form">
        <input type="text" style="display:none;" id="MaddeID" name="MaddeID" value="@Model.MaddeID" />
        <div class="col-md-12 col-md-12 col-md-12">
            <div class="panel panel-default" id="bPanel">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i> @(Model.MaddeKod.IsNullOrWhiteSpace() ? "Yeni Madde Tanımlama" : Model.MaddeKod + " Kodlu Madde Güncelleme İşlemi")</h3>
                    <ul class="panel-controls">
                        <li><a href="@Url.Action("Kayit", Model.MaddeKod)" class=""><span class="fa fa-refresh panel-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-2 col-xs-2 control-label">Üst Madde</label>
                                <div class="col-md-10 col-xs-10">
                                    @Html.DropDownList("UstMaddeID", null, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 col-xs-2 control-label">Madde Kodu</label>
                                <div class="col-md-10 col-xs-10">
                                    <input type="text" name="MaddeKod" id="MaddeKod" value="@Model.MaddeKod" maxlength="4" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 col-xs-2 control-label">Madde Adı</label>
                                <div class="col-md-10 col-xs-10">
                                    <input type="text" name="MaddeAdi" id="MaddeAdi" value="@Model.MaddeAdi" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-2 control-label">Madde Açıklaması</label>
                                <div class="col-md-10 col-xs-10">
                                    <input type="text" name="Aciklama" id="Aciklama" value="@Model.Aciklama" class="form-control" />
                                </div>
                            </div>

                            <div class="IsMadde @(isUstMadde?"hide":"")">
                                <div class="form-group">
                                    <label class="col-md-2 col-xs-2 control-label">Veri Giriş Şekli</label>
                                    <div class="col-md-10 col-xs-10">
                                        @Html.DropDownList("VeriGirisSekliID", null, new { @class = "form-control", OnChange = "chngVtSekli(this);" })
                                        <script>
                                            function chngVtSekli(sndr) {
                                                var sndrVal = $(sndr).val();
                                                if (sndrVal != "" && sndrVal != "0" && sndrVal != null)
                                                {
                                                        $('.VgtDrm').removeClass("hide");
                                                        if ('@VeriGirisSekli.FormulleHesaplanacak' == sndrVal) $('.FrmlDrm').removeClass('hide');
                                                        else $('.FrmlDrm').addClass('hide');
                                                }

                                                else
                                                {
                                                    $('.VgtDrm').addClass("hide");
                                                    $('.FrmlDrm').addClass('hide');
                                                }
                                            }
                                        </script>
                                    </div>
                                </div>

                                <div class="form-group FrmlDrm @(Model.VeriGirisSekliID==VeriGirisSekli.FormulleHesaplanacak ? "":"hide")">
                                    <label class="col-md-2 col-xs-2 control-label">Hesaplama Formülü</label>
                                    <div class="col-md-10 col-xs-10">
                                        <input type="text" name="HesaplamaFormulu" id="HesaplamaFormulu" maxlength="512" value="@Model.HesaplamaFormulu" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group VgtDrm @(Model.VeriGirisSekliID==VeriGirisSekli.VeriGirisiYok ? "hide":"")">
                                    <label class="col-md-2 col-xs-2 control-label" title="Yılsonu Değeri Hesaplama Şekli">Y.S.H Şekli</label>
                                    <div class="col-md-10 col-xs-10">
                                        @Html.DropDownList("MaddeYilSonuDegerHesaplamaTipID", null, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group VgtDrm @(Model.VeriGirisSekliID==VeriGirisSekli.VeriGirisiYok ? "hide":"")">
                                    <label class="col-md-2 col-xs-2 control-label">Veri Tipi</label>
                                    <div class="col-md-10 col-xs-10">
                                        @Html.DropDownList("VeriTipID", null, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group VgtDrm @(Model.VeriGirisSekliID==VeriGirisSekli.VeriGirisiYok ? "hide":"")">
                                    <label class="col-md-2 col-xs-2 control-label">Madde Türü</label>
                                    <div class="col-md-10 col-xs-10">
                                        @Html.DropDownList("MaddeTurID", null, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group VgtDrm @(Model.VeriGirisSekliID==VeriGirisSekli.VeriGirisiYok  ? "hide":"")">
                                    <label class="col-md-2 col-xs-2 control-label"></label>
                                    <div class="col-md-10 col-xs-10">
                                        @brData.ToRenderPartialViewHtml("Ajax", "getChkList")
                                    </div>
                                </div>
                               
                                <div class="form-group maddeAylari">
                                    <label class="col-md-2 col-xs-2 control-label"></label>
                                    <div class="col-md-10 col-xs-10">
                                        @donemData.ToRenderPartialViewHtml("Ajax", "GetChkList")
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-2 col-xs-2 control-label">Durum</label>
                                <div class="col-md-10 col-xs-10">
                                    <div class="make-switch" data-on-label="Aktif" data-off-label="Pasif" data-on="success" data-off="danger">
                                        <input type="checkbox" value="true" name="IsAktif" class="toggle" @Model.IsAktif.ToChecked() />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply"></i>Geri Dön</a>
                    <button class="btn btn-primary pull-right"><i class="fa fa-save"></i>Kaydet</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>

    $(function () {
        var model = '@Html.Raw(Json.Encode(mmMessage))';
        validateControl(model);
    });
</script>

