@using Database
@using BiskaUtil
@using WebApp.Models 
@using WebApp.Utilities.Extensions
@using WebApp.Utilities.MessageBox
@model YetkiGruplari
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var mmMessage = ViewBag.MmMessage as MmMessage;
    var roller = (IEnumerable<CheckObject<Roller>>)ViewBag.Roller;
    var cats = (List<ComboModelInt>)ViewBag.cats;
 }
<div class="row">
    @using (Html.BeginForm())
    {   <input type="text" style="display:none;" id="YetkiGrupID" name="YetkiGrupID" value="@Model.YetkiGrupID" />

    <div class="col-md-12 col-md-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading padding-0">
                <h3 class="panel-title"><i class="@(Model.YetkiGrupID>0?"fa fa-edit":"fa fa-plus")"></i> @(Model.YetkiGrupID > 0 ? "Yetki Grubu Düzeltme İşlemi" : "Yeni Yetki Grubu Oluşturma İşlemi")</h3>

                <ul class="panel-controls">
                    <li><a href="javascript:void(0)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                </ul>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 col-xs-5 control-label">Yetki Grubu Adı</label>
                    <div class="col-md-10 col-xs-7">
                        <input type="text" name="YetkiGrupAdi" id="YetkiGrupAdi" value="@Model.YetkiGrupAdi" class="form-control">
                    </div>
                </div>
                <br />
                <br />
                @foreach (var cat in cats)
                {
                    var roles = roller.Where(p => p.Value.Kategori == cat.Caption).OrderBy(o => o.Value.GorunurAdi).ToArray();
                    var allchecked = roles.All(a => a.Checked.Value);
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading padding-0">
                                <h3 class="panel-title" style="font-size:9pt;">@cat.Caption</h3>
                                <ul class="panel-controls">
                                    <li>
                                        Tümü:<div class="make-switch switch-small" data-on-label="Evet" data-off-label="Hayır">
                                            <input type="checkbox" value="true" name="IsAdmin" onchange="tumunusec(this)" class="toggle" @allchecked.ToChecked() />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body padding-0" style="height: 300px; overflow: auto;">
                                <table class="chks" style="width:100%;table-layout:fixed;">
                                    @foreach (var role in roles.OrderBy(o => o.Value.GorunurAdi))
                                    {
                                        <tr>
                                            <td>
                                                <div class="checkbox pull-left">
                                                    <label>
                                                        <input type="checkbox" class="icheckbox" name="RolID" value="@role.Value.RolID" @role.Checked.ToChecked()>
                                                        @role.Value.GorunurAdi
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>

                                    }

                                </table>
                            </div>
                        </div>
                    </div>

                }
            </div>
            <div class="panel-footer">
                <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply"></i>Geri Dön</a>
                <button class="btn btn-primary pull-right"><i class="fa fa-save"></i>Kaydet</button>
            </div>
        </div>
    </div>

    }

</div>
<script type="text/javascript">
    function tumunusec(sndr) {
        var parBox = $(sndr).parents(".panel").first();
        var kategori = $(parBox).find('.chks').first();
        var chkD = $(sndr).prop("checked");
        $(kategori).find(":checkbox").each(function (inx, itmx) {
            if (chkD) { $(itmx).parent().addClass("checked"); }
            else { $(itmx).parent().removeClass("checked"); }
            $(itmx).prop("checked", chkD);
        });


    }

    $(function () {
        var model = '@Html.Raw(Json.Encode(mmMessage))';
        // validateControl(model);
    });
</script>
