@using BiskaUtil
@using WebApp.Models
@using WebApp.Utilities.Extensions
@model FmMailGonderme
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <div class="portlet-title">
                        <h3 class="panel-title"><i class="fa fa-puzzle-piece"></i> Gönderilen Mail Listesi</h3>
                        <ul class="panel-controls">
                            <li><span class="label label-primary label-form"><a style="width:54px;color:white;" href="@Url.Action("Gonder")">+ Yeni </a></span></li>
                            <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Index")';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="135"></th>
                                <th class="sirala sorting" field="Tarih">Konu</th>
                                <th class="sirala sorting" field="EkSayisi" width="60">Ek S</th>
                                <th class="sirala sorting" field="KisiSayisi" width="65">Kişi S</th>
                                <th class="sirala sorting" field="MailGonderen" width="140">Gönderen</th>
                                <th width="30"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="filtrele">
                                <th></th>
                                <th>
                                    <input name="Konu" type="text" value="@Model.Konu" class="form-control" />
                                </th>
                                <th></th>
                                <th></th>
                                <th>
                                    <input name="MailGonderen" type="text" value="@Model.MailGonderen" class="form-control" />
                                </th>
                                <th></th>

                            </tr>
                            @if (Model.RowCount > 0)
                            {
                                var rowIndex = Model.StartRowIndex;
                                foreach (var item in Model.Data)
                                {
                                    rowIndex++;
                                    <tr id="mn_Rw_@item.GonderilenMailID">
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width: 40px;">@rowIndex</td>
                                                    <td style="width: 50px;">
                                                        <div class="btn-group">
                                                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><i class="fa fa-cogs"></i></a>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li role="presentation" class="dropdown-header">İşlemler</li>
                                                                @if (item.HataMesaji.IsNullOrWhiteSpace() == false && item.Gonderildi == false)
                                                                {
                                                                    <li>
                                                                        <a href="javascript:void(0)" onclick="tekrarGonder(@item.GonderilenMailID)" target="_blank"><i class="fa fa-mail-forward"></i>Tekrar Gönder</a>
                                                                    </li>
                                                                }
                                                                <li>
                                                                    <a href="javascript:void(0)" onclick="SilmeOnay(this,@item.GonderilenMailID)"><i class="fa fa-trash-o"></i>Sil</a>
                                                                </li>


                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <ul class="panel-controls">
                                                            <li id="iShow_@item.GonderilenMailID" onclick="ShowDetail(@item.GonderilenMailID)">
                                                                <a href="javascript:void(0)"><span class="fa fa-angle-up"></span></a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td id="tdKa_@item.GonderilenMailID" style="padding-top: 0px; padding-bottom: 0px; vertical-align: middle;" ondblclick="ShowDetail($('#iShow_@item.GonderilenMailID'),@item.GonderilenMailID,'cls-@item.GonderilenMailID')">
                                            @(item.Konu.Length > 70 ? item.Konu.Substring(0, 69) + "..." : item.Konu)
                                        </td>
                                        <td style="padding-top: 0px; padding-bottom: 0px; vertical-align: middle;" ondblclick="ShowDetail($('#iShow_@item.GonderilenMailID'),@item.GonderilenMailID,'cls-@item.GonderilenMailID')">@item.EkSayisi</td>
                                        <td style="padding-top: 0px; padding-bottom: 0px; vertical-align: middle;" ondblclick="ShowDetail($('#iShow_@item.GonderilenMailID'),@item.GonderilenMailID,'cls-@item.GonderilenMailID')">@item.KisiSayisi</td>
                                        <td id="tdAs_@item.GonderilenMailID" style="padding-top: 0px; padding-bottom: 0px; vertical-align: middle;" ondblclick="ShowDetail($('#iShow_@item.GonderilenMailID'),@item.GonderilenMailID,'cls-@item.GonderilenMailID')">
                                            @item.Tarih.ToFormatDateAndTime() <br />
                                            @item.MailGonderen
                                        </td>
                                        <td style="vertical-align: middle; padding: 0px;">
                                            @if (!item.Gonderildi && item.HataMesaji.IsNullOrWhiteSpace())
                                            {
                                                <span style="color: red; cursor: pointer; padding: 0px;" class="btn popovers" data-container="body" data-placement="bottom" data-content="Mail Gönderiliyor..." data-original-title="Durum">
                                                    <img src="@Url.Content("/Images/mailSending.png")" style="height: 24px;" />
                                                </span>
                                            }
                                            else if (!item.Gonderildi && !item.HataMesaji.IsNullOrWhiteSpace())
                                            {
                                                <span style="color: red; cursor: pointer; padding: 0px;" class="btn popovers" data-container="body" data-placement="bottom" data-content="@Html.Raw("Mail Gönderilirken bir hata oluştu. </br>Hata:"+item.HataMesaji)" data-original-title="Durum">
                                                    <img src="@Url.Content("/Images/error.png")" style="height: 24px;" />
                                                </span>
                                            }
                                            else
                                            {
                                                <span style="color: red; cursor: pointer; padding: 0px;" class="btn popovers" data-container="body" data-placement="bottom" data-content="Mail Gönderildi." data-original-title="Durum">
                                                    <img src="@Url.Content("/Images/MailGonderildi.png")" style="height: 24px;" />
                                                </span>
                                            }

                                        </td>
                                    </tr>
                                    <tr class="cls-@item.GonderilenMailID hide">
                                        <td id="cls-@item.GonderilenMailID" colspan="6" style="padding: 1px 1px 2px 2px;">
                                            <div class="panel panel-default">
                                                <div class="panel-heading  padding-0">
                                                    <div class="portlet-title">
                                                        <h3 class="panel-title"><i class="fa fa-mail-forward"></i> </h3>
                                                        <ul class="panel-controls">
                                                            <li><a href="javascript:void(0);" onclick="GetDetail('@item.GonderilenMailID')"><span class="fa fa-refresh"></span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div id="panel-body-@item.GonderilenMailID" class="panel-body" style="padding: 0px;min-height:200px;overflow-x:auto;">
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" style="text-align: center">
                                        [ Listelenen Kayıt Yok ]
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>

        </div>

    }
</div>
<script type="text/javascript">
    function ShowDetail(id) {
        var sndr = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).hasClass("hide"));
        toggleByClass(sndr, cls, unTogled);
        if (unTogled) GetDetail(id);
    }

    function GetDetail(GonderilenMailID) {
        var _panel = $('#panel-body-' + GonderilenMailID);
        _pRefresh(_panel, false);
        setTimeout(function () {
            $.ajax({
                url: '@Url.Action("MailDetay")',
                data: { 'GonderilenMailID': GonderilenMailID },
                success: function (result) {
                    $(_panel).html(result);
                    _pRefresh(_panel, true);
                },
                error: function (err) {
                    _pRefresh(_panel, true);
                    alert(err.responseText);
                }
            });
        }, 120);
    }
    function SilmeOnay(sndr, id) {
        var Tarih = $("#tdAs_" + id).html();
        var Baslik = $("#tdKa_" + id).html();
        var SoruHtml = "<table style='color:maroon;table-layout:fixed;width:100%;'><tr><td width='30' style='padding-left:10px;'><i class='fa fa-info fa-2x'></i></td><td style='padding-right:10px;'>Seçilen Mail Bilgisini Silmek İstiyor Musunuz?</td></tr></table>";
        bootbox.dialog({
            message: "Tarih / Gönderen: " + Tarih + " <br/>Başlık: " + Baslik + " <br/>" + SoruHtml,
            title: "Duyuru Silme İşlemi",
            buttons: {
                success: {
                    label: "Gönerilen Maili Sil",
                    className: "btn-danger",
                    callback: function () {
                        Sil(sndr, id);
                    }
                },
                danger: {
                    label: "Vazgeç",
                    className: "btn-success",
                    callback: function () {
                    }
                }
            }
        });
    }
    function Sil(sndr, id) {
        $.ajax({
            url: '@Url.Action("Sil")',
            data: { id: id },
            success: function (result) {
                toastr[result.success ? "success" : "error"](result.message, "Gönerilen Mail Bilgisi Silme İşlemi")
                if (result.success) {
                    $('#mn_Rw_'+id).remove();
                    $(".cls-" + id).remove();
                }
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }
    function tekrarGonder(id) {
        var Tarih = $("#tdAs_" + id).html();
        var Baslik = $("#tdKa_" + id).html();
        bootbox.dialog({
            message: "Tarih: " + Tarih + " <br/>Başlık: " + Baslik + " <br/><br/> Seçilen Maili Tekrar Göndermek İtiyor Musunuz?",
            title: "Mail Gönderim İşlemi",
            buttons: {
                success: {
                    label: "Seçilen Maili Tekrar Gönder",
                    className: "btn-danger",
                    callback: function () {
                        $.ajax({
                            url: '@Url.Action("TekrarGonder")',
                            data: { id: id },
                            success: function (result) {
                                toastr[result ? "success" : "error"]("Mail Gönderiliyor...", "Mail Tekrar Gönderme İşlemi")

                            },
                            error: function (err) {
                                alert(err.responseText);
                            }
                        });
                    }
                },
                danger: {
                    label: "Vazgeç",
                    className: "btn-success",
                    callback: function () {
                    }
                }
            }
        });

    }
</script>
