@using Database;
@using WebApp.Utilities.Extensions
@using WebApp.Utilities.MessageBox
@model Unvanlar
@{
    var mmMessage = ViewBag.MmMessage as MmMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <form method="post" class="form-horizontal" role="form">
        <input type="text" style="display:none;" id="UnvanID" name="UnvanID" value="@Model.UnvanID" />
        <div class="col-md-12 col-md-12 col-md-12">
            <div class="panel panel-default" id="pUnvanK">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i>@(Model.UnvanID <= 0 ? "Yeni Ünvan Tanımlama İşlemi" : "Ünvan Düzeltme İşlemi") </h3>
                    <ul class="panel-controls">
                        <li><a href="@Url.Action("Kayit", Model.UnvanID)" class=""><span class="fa fa-refresh panel-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Ünvan Tipi</label>
                                <div class="col-md-9 col-xs-8">
                                    @Html.DropDownList("UnvanTipID", null, new { @class = "form-control", style = "padding:0px;", onchange = "getUnvanTipK(this)" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Ünvan Adı</label>
                                <div class="col-md-9 col-xs-8">
                                    <input type="text" name="UnvanAdi" id="UnvanAdi" value="@Model.UnvanAdi" class="form-control" />
                                </div>
                            </div>
                            
                            @if (Model.UnvanID > 0)
                            {
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-4 control-label">Durum</label>
                                    <div class="col-md-9 col-xs-8">
                                        <div class="make-switch" data-on-label="Aktif" data-off-label="Pasif" data-on="success" data-off="danger">
                                            <input type="checkbox" value="true" name="IsAktif" class="toggle" @Model.IsAktif.ToChecked() />
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply"></i>Geri Dön</a>
                    <button class="btn btn-primary pull-right"><i class="fa fa-save"></i>Kaydet</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>

    $(function () {
        var model = '@Html.Raw(Json.Encode(mmMessage))';
        validateControl(model);
    });
 
</script>

