@using WebApp.Models
@using WebApp.Utilities.Extensions
@model  FmBirimler
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-12">

            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-home"></i> Birim Listesi</h3>
                    <ul class="panel-controls">
                        <li><span class="label label-primary label-form"><a href="@Url.Action("Kayit")" style="color:white;"><i class="fa fa-plus fa-lg"></i> Yeni</a></span></li>
                        <li><span class="label label-info label-form">Toplam: <b>@Model.CountIngfos.Toplam</b></span></li>
                        <li><span class="label label-success label-form">Aktif: <b>@Model.CountIngfos.Aktif</b></span></li>
                        <li><span class="label label-danger label-form">Pasif: <b>@Model.CountIngfos.Pasif</b></span></li>
                        <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Index")';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="75"></th>
                                <th width="70">Kod</th>
                                <th class="sirala sorting" field="BirimTreeAdi">Birim Adı</th>
                                <th width="40" title="Eşleştirilen Madde Sayısı">E.M.S</th>
                                <th width="40" title="Birime Madde Eşileştirilebilir">B.M.E</th>
                                <th width="70" class="sirala sorting" field="IsAktif">Durum</th>
                                <th width="35"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="filtrele">
                                <th></th>
                                <th><input name="BirimKod" type="text" value="@Model.BirimKod" class="form-control" /></th>
                                <th>
                                    <input name="BirimAdi" type="text" value="@Model.BirimAdi" class="form-control" />
                                </th>
                                <th>
                                    @Html.DropDownList("EslestirmeDurum", null, new { @class = "form-control", style = "padding:0px;" })
                                </th>
                                <th>
                                    @Html.DropDownList("IsMaddeEklenebilir", null, new { @class = "form-control", style = "padding:0px;" })
                                </th>
                                <th>
                                    @Html.DropDownList("IsAktif", null, new { @class = "form-control", style = "padding:0px;" })
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                            @if (Model.RowCount > 0)
                            {
                                var rowIndex = Model.StartRowIndex;
                                foreach (var item in Model.Data)
                                {
                                    rowIndex++; 
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width:30px;">@rowIndex</td>
                                                    <td>
                                                        <ul class="panel-controls">
                                                            <li id="iShow_@item.BirimID" onclick="ShowDetail(@item.BirimID)">
                                                                <a href="javascript:void(0)"><span class="fa fa-angle-up"></span> </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>@item.BirimKod</td>
                                        <td>
                                            @item.BirimTreeAdi
                                        </td>
                                        <td>
                                            <b style="font-size:14pt;color:@(item.BirimMaddeleri.Count>0?"green":"maroon")">@item.BirimMaddeleri.Count</b>
                                        </td>
                                        <td id="tdIamd_@item.BirimID" style="text-align:center;">
                                            <span class="badge badge-@(item.IsMaddeEklenebilir ? "success" : "danger")">@item.IsMaddeEklenebilir.ToEvetHayir()</span>
                                        </td>
                                        <td id="tdIa_@item.BirimID" style="text-align:center;">
                                            <span class="badge badge-@(item.IsAktif ? "success" : "danger")">@item.IsAktif.ToAktifPasif()</span>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Kayit", "Birimler", new { id = item.BirimID })"><i class="fa fa-edit fa-lg tooltips" data-style="blue" data-original-title="Düzelt"></i></a>
                                            <a href="javascript:void(0)" onclick="SilmeOnay(this,@item.BirimID)"><i class="fa fa-trash-o fa-lg tooltips" data-style="blue" data-original-title="Sil"></i></a>
                                        </td>
                                    </tr>
                                    <tr class="cls-@item.BirimID hide">
                                        <td id="cls-@item.BirimID" colspan="7" style="padding: 1px 1px 2px 75px;">
                                            <div class="panel panel-default form-horizontal" id="PnlOt_@item.BirimID" style="margin:0px;padding:0px;">
                                                <div class="panel-body" style="margin:0px;padding:0px;">
                                                    <div class="panel-body form-group-separated">
                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-4 control-label">Birim Kodu</label>
                                                            <div class="col-md-9 col-xs-8">@item.BirimKod</div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-4 control-label">Birim Adı</label>
                                                            <div class="col-md-9 col-xs-8">@item.BirimTreeAdi</div>
                                                        </div>

                                                        @if (item.BirimMaddeleri.Any())
                                                        {
                                                            <div class="panel panel-primary _replaceHide">
                                                                <div class="panel-body padding-0">
                                                                    <table class="table table-hover" style="width:100%;table-layout:fixed;margin-bottom:0px;">
                                                                        <thead>
                                                                            <tr>
                                                                                <th width="40"></th>
                                                                                <th width="40">Kod</th>
                                                                                <th>Madde Adı</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tr>
                                                                            <td colspan="3">

                                                                                <div style="max-height:250px;overflow:auto;">
                                                                                    <table class="table table-hover" style="width:100%;table-layout:fixed;margin-bottom:0px;">
                                                                                        @{
                                                                                            var i = 0;
                                                                                            foreach (var itemObt in item.BirimMaddeleri)
                                                                                            {
                                                                                                i++;
                                                                                                <tr class="tr">
                                                                                                    <td width="40">@i)</td>
                                                                                                    <td width="40">@itemObt.MaddeKod</td>
                                                                                                    <td>
                                                                                                        @itemObt.MaddeAdi
                                                                                                    </td>
                                                                                                </tr>
                                                                                            }
                                                                                        }
                                                                                    </table>
                                                                                </div>

                                                                            </td>
                                                                        </tr>

                                                                    </table>

                                                                </div>
                                                            </div>
                                                        }
                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-4 control-label">Madde Eklenebilir Mi?</label>
                                                            <div class="col-md-9 col-xs-8" style="text-align: left;">
                                                                <span class="badge badge-@(item.IsMaddeEklenebilir ? "success" : "danger")">@item.IsMaddeEklenebilir.ToEvetHayir()</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-4 control-label">Durum</label>
                                                            <div class="col-md-9 col-xs-8" style="text-align: left;">
                                                                <span class="badge badge-@(item.IsAktif ? "success" : "danger")">@item.IsAktif.ToAktifPasif()</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-4 control-label">İşlem Yapan</label>
                                                            <div class="col-md-9 col-xs-8">@item.IslemYapan [@item.IslemTarihi.ToFormatDateAndTime()][@item.IslemYapanIP]</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7" style="text-align: center;">
                                        [ Listelenen Kayıt Yok ]
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    function ShowDetail(id,IsExpand) {
        var sndr = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).hasClass("hide"));
        if (IsExpand) {
            if (unTogled) toggleByClass(sndr, cls, unTogled);
        }
        else toggleByClass(sndr, cls, unTogled);
    }
    function SilmeOnay(sndr, id) {
        var htmlCont = $("#cls-" + id).html().replace('hide', '').replace('_replaceHide','hide');
        var SoruHtml = "<table style='color:maroon;table-layout:fixed;width:100%;'><tr><td width='30' style='padding-left:10px;'><i class='fa fa-info fa-2x'></i></td><td style='padding-right:10px;'>Seçilen Birimi Silmek İstiyor Musunuz?</td></tr></table>";
        bootbox.dialog({
            message: htmlCont + SoruHtml,
            title: "Birim Silme İşlemi",
            buttons: {
                success: {
                    label: "Birimi Sil",
                    className: "btn-danger",
                    callback: function () {
                        Sil(sndr, id);
                    }
                },
                danger: {
                    label: "Vazgeç",
                    className: "btn-success",
                    callback: function () {
                    }
                }
            }
        });
    }
    function Sil(sndr, id) {
        $.ajax({
            url: '@Url.Action("Sil", "Birimler")',
            data: { id: id },
            success: function (result) {
                toastr[result.success ? "success" : "error"](result.message, "Birim Silme İşlemi")
                if (result.success) {
                    $(sndr).closest("tr").remove();
                     $(".cls-" + id).remove();
                }

            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }
      
</script>
