@using WebApp.Models
@model FrSurecIslemleri
@{
    Layout = null; 

}
<style>
    .myCaptionTdx {
        text-align: right;
        font-size: 9pt;
        margin: 0px;
        color: black;
    }

    .myValueTdx {
        text-align: left;
        font-size: 12pt;
        margin: 0px;
        color: black;
    }
</style>
<div class="panel" style="vertical-align:top;height:689px;" id="pnglDB_@Model.VASurecID">
    <div class="panel-body" style="margin: 0px; padding: 0px;">
        <div class="panel tabs" style="margin-bottom:0px; padding:0px;">
            <ul class="nav nav-tabs BsTabBtn_@Model.VASurecID" role="tablist">
                <li class="@(Model.SelectedTabIndex == 1 ? "active" : "") bnt-@Model.VASurecID-1" style="margin-right:3px;"><a href="#" onclick="tabchangeSet('@Model.VASurecID',1)" style="cursor:pointer;margin:0px;padding-left:6px;padding-right:6px;" role="tab" data-toggle="tab"> <i class="fa fa-home"></i> <span class="myCaptionTdx">Birim Bilgileri</span></a></li>
                <li class="@(Model.SelectedTabIndex == 2 ? "active" : "") bnt-@Model.VASurecID-2" style="margin-right:3px;"><a href="#" onclick="tabchangeSet('@Model.VASurecID',2)" style="cursor:pointer;margin:0px;padding-left:6px;padding-right:6px;" role="tab" data-toggle="tab"> <i class="fa fa-list-alt"></i> <span class="myCaptionTdx">Madde Bilgileri</span></a></li>

                <li><a href="javascript:void(0);" onclick="SubData('@Model.VASurecID');" class="panel-refresh" title="Yenile"><span class="fa fa-refresh myValueTdx"></span></a></li>

            </ul>
            <div class="panel-body tab-content BsTabCont_@Model.VASurecID" style="padding:0px;">
                <input type="text" id="selectedTb_@Model.VASurecID" style="display:none;" value="@Model.SelectedTabIndex" />
                <input type="text" id="selectedBirimDurumID_@Model.VASurecID" style="display:none;" value="@Model.SBirimDurumId" />
                <input type="text" id="selectedMaddeDurumID_@Model.VASurecID" style="display:none;" value="@Model.SMaddeDurumId" />
                <div class="tab-pane @(Model.SelectedTabIndex == 1 ? "active" : "") " id="tab-@Model.VASurecID-1">

                </div>
                <div class="tab-pane @(Model.SelectedTabIndex == 2 ? "active" : "") " id="tab-@Model.VASurecID-2">

                </div>

            </div>
        </div>
    </div>
</div>
