@using WebApp.Models
@model List<FrMaddeler>
@{

    Layout = null;
}
<div class="panel-body" style="padding: 0px;">
    <div class="panel panel-primary">
        <div class="panel-body padding-0">
            <table class="table table-hover" style="width:100%;table-layout:fixed;margin-bottom:0px;">
                <thead>
                    <tr class="warning">
                        <th width="80">M Kod</th>
                        <th>Madde Adı</th>
                        <th width="110" title="Aktif Yıl Planlanan Değer Bilgisi" style="text-align:right;">Aktif Yıl Pln. Değer</th>
                        <th width="110" title="Gelecek Yıl Planlanan Değer Bilgisi" style="text-align:right;">G. Yıl Pln. Değer</th>
                        <th width="90" title="Madde Veri Giriş Durumu" style="text-align:right;">V.G Durum</th>
                        <th width="90" title="Madde Veri Onayı Durumu" style="text-align:right;">V.O Durum</th>
                    </tr>
                </thead>
                @foreach (var itemObt in Model)
                {

                    <tr class="tr">
                        <td>@itemObt.MaddeKod</td>
                        <td>
                            @itemObt.MaddeAdi
                        </td>
                        <td style="text-align:right;">
                            @if (itemObt.IsPlanlananDegerOlacak)
                            {

                                <span style="font-weight: bold; color: @(itemObt.PlanlananDeger.HasValue?"green":"maroon")">@(itemObt.PlanlananDeger.HasValue ? $"{itemObt.PlanlananDeger.Value:0.###}" : "Girilmedi")</span>
                            }
                            else
                            {
                                <span style="color:gray;">Yok</span>
                            }

                        </td>
                        <td style="font-weight:bold;text-align:right;">
                            @if (itemObt.IsPlanlananDegerOlacakGelecekYil)
                            {

                                <span style="font-weight: bold; color: @(itemObt.PlanlananDegerGelecekYil.HasValue?"green":"maroon")">@(itemObt.PlanlananDegerGelecekYil.HasValue ? $"{itemObt.PlanlananDegerGelecekYil.Value:0.###}" : "Girilmedi")</span>
                            }
                            else
                            {
                                <span style="color:gray;">Yok</span>
                            }

                        </td>
                        <td style="font-weight:bold;text-align:right;">
                            <span style="color:@(itemObt.GirilenVeriSayisi== itemObt.GirilecekVeriSayisi?"green":"maroon")">@itemObt.GirilenVeriSayisi / @itemObt.GirilecekVeriSayisi</span>
                        </td>
                        <td style="font-weight:bold;text-align:right;">
                            <span style="color:@(itemObt.OnaylananVeriSayisi== itemObt.GirilecekVeriSayisi?"green":"maroon")">@itemObt.OnaylananVeriSayisi / @itemObt.GirilecekVeriSayisi</span>
                        </td>
                    </tr>

                }
            </table>
        </div>
    </div>
</div>

