@using WebApp.Utilities.Extensions
@using WebApp.Utilities.MenuAndRoles
@model WebApp.Utilities.Dtos.AciklamaGirisModel
@{
    Layout = null;
    var bbcId = (Model.VASurecID + "_" + Model.BirimID + "_" + Model.MaddeID);
    var kayitYetki = Model.SurecAktif && RoleNames.VeriGirisiKayitYetkisi.InRole();
}
<div class="row">
    @using (Ajax.BeginForm("VgAciklamaPost", null, new AjaxOptions() { HttpMethod = "POST" }, new { id = "VGAciklamaPostForm" }))
    {
        <input name="VASurecleriMaddeEklenenAciklamaID" class="hide" value="@(Model.VASurecleriMaddeEklenenAciklamaID>0?Model.VASurecleriMaddeEklenenAciklamaID.ToString():"")" />
        <input name="BirimID" class="hide" value="@Model.BirimID" />
        <input name="VASurecID" class="hide" value="@Model.VASurecID" />
        <input name="MaddeID" class="hide" value="@Model.MaddeID" />
        <div class="panel panel-info" id="bbaContent_@bbcId">
            <div class="panel-body" style="margin: 0px; padding: 0px;">
                <div class="col-md-12">
                    <table class="table" style="font-size:9pt;margin:0px;">
                        <tr>
                            <td width="160" style="font-weight:bold;">Süreç</td>
                            <td width="5" style="font-weight:bold;">:</td>
                            <td>@Model.Yil Yılı Süreci</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold;">Birim Adı</td>
                            <td style="font-weight:bold;">:</td>
                            <td>@Model.BirimAdi</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold;">Seçilen Madde</td>
                            <td style="font-weight:bold;">:</td>
                            <td>@Model.MaddeAdi</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold;">Ay/Dönem</td>
                            <td style="font-weight:bold;">:</td>
                            <td>
                                @Html.DropDownList("VaCokluVeriDonemId", Model.SListAylar, new { @class = "form-control" })
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold;">Açıklama</td>
                            <td style="font-weight:bold;">:</td>
                            <td>
                                <textarea class="form-control" rows="3" name="Aciklama" id="Aciklama" maxlength="2048">@Model.Aciklama</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold;"></td>
                            <td style="font-weight:bold;">:</td>
                            <td>
                                <button data-bb-handler="success" type="button" class="btn btn-primary" onclick="AciklamaEkle()">Açıklamayı Kaydet</button>
                            </td>
                        </tr>
                    </table>
                    @*<div id="AckListContent">
                        @{
                            Model.AciklamaData.KayitYetki = kayitYetki && !Model.VeriGirisiOnaylandi;
                            Html.RenderPartial("ViewAciklamaEklenenler", Model.AciklamaData);
                        }
                    </div>*@

                </div>
            </div>

        </div>
    }
</div>


<script>
    function AciklamaEkle()
    {
        var pnlx = $('#bbContent_@bbcId');
        _pRefresh(pnlx, false);
        $('#VGAciklamaPostForm').ajaxForm({
            success: function (result) {
                GetMsg(result);
                if (result.IsSuccess) {
                    $('#Aciklama').val('');
                    //GetAckList();
                    GetDetail(@Model.VASurecID, @Model.BirimID, @Model.MaddeID);
                    return false;
                }
                else {
                    return false;
                }
                _pRefresh(pnlx, true);

            },
            complete: function (cmp) {
                _pRefresh(pnlx, true);
            },
            error: function (err) {
                _pRefresh(pnlx, true);
            }

        });
        $('#VGAciklamaPostForm').submit();
    }
    function AciklamaSilmeOnay(sndr, id) {
        var _AyAdi = $("#tdAAyAdi_" + id).html();
        var _Aciklama = $("#tdAAciklama_" + id).html();
        var SoruHtml = "<table style='color:maroon;table-layout:fixed;width:100%;'><tr><td width='30' style='padding-left:10px;'><i class='fa fa-info fa-2x'></i></td><td style='padding-right:10px;'>'" + _AyAdi + "' : '" + _Aciklama + "' açıklamasını silmek istiyor musunuz?</td></tr></table>";
        bootbox.dialog({
            message: SoruHtml,
            title: "Açıklama Silme İşlemi",
            buttons: {
                success: {
                    label: "Açıklamayı Sil",
                    className: "btn-danger",
                    callback: function () {
                        AciklamaSil(sndr, id);
                    }
                },
                danger: {
                    label: "Vazgeç",
                    className: "btn-success",
                    callback: function () {
                    }
                }
            }
        });
    }
    function AciklamaSil(sndr, id) {
        $.ajax({
            url: '@Url.Action("VgAciklamaSil", "VeriGirisi")',
            data: { id: id },
            success: function (result) {
                toastr[result.success ? "success" : "error"](result.message, "Açıklama Silme İşlemi")
                if (result.success) {
                    $(sndr).closest("tr").remove();
                    GetDetail(@Model.VASurecID, @Model.BirimID, @Model.MaddeID);
                }

            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }
</script>

<script>
       function GetAckList() {
         $.ajax({
               url: '@Url.Action("GetViewAciklamaEklenenler", "VeriGirisi")',
               data: { 'VASurecID': @Model.VASurecID, 'BirimID': @Model.BirimID, 'MaddeID': @Model.MaddeID  },
               async: false,
             success: function (result) {
                 $('#AckListContent').html(result.page);

               },
               error: function (err) {
                   alert(err.responseText);
               }
           });
   }

</script>

