@{
    var hata = (string)ViewBag.Hata;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    var reqCode = Guid.NewGuid().ToString().Replace("-", "");
    <input type="hidden" name="captchaRequestCode" value="@reqCode" id="captchaRequestCode" />
    if (hata != null)
    {
        <script type="text/javascript">
            $(function () {
                toastr["error"]('@ViewBag.Hata', "Hata");
            });

        </script>
    }
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="~/Content/favicon.ico" type="image/x-icon" />
    </head>
    <body>

        <div class="login-container login-v2">
            <div class="login-box animated fadeInDown">
                <div class="login-body">
                    <div class="login-title">
                        <strong>Hoşgeldiniz</strong>, Lütfen Giriş Yapın...
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="fa fa-user"></span>
                                </div>
                                <input type="text" name="UserName" class="form-control" placeholder="Kullanıcı Adı" value="@ViewBag.UserName" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="fa fa-lock"></span>
                                </div>
                                <input type="password" name="Password" class="form-control" placeholder="Şifre" value="@ViewBag.Password" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="hidden" name="captchaRequestCode" value="@reqCode" id="captchaRequestCode" />
                                <div class="input-group-addon">
                                    <span class="fa fa-lock"></span>
                                </div>
                                <img src="@Url.Action("Generatecaptcha", new { captchaRequestCode = @reqCode })" alt="??" />
                                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Güvenlik Kodu" name="CaptchaText" />

                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12">
                            <button class="btn btn-primary btn-lg btn-block">Giriş Yap</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="javascript:void(0);" onclick="pwdSendM()">Şifremi Unuttum</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

}



