@using WebApp.Models
@using WebApp.Utilities.Extensions
@using WebApp.Utilities.MenuAndRoles
@model FmKullanicilar
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var kayit = RoleNames.KullaniciKayit.InRole();

    var kHesabaGecme = RoleNames.KullaniciHesabinaGecmeYetkisi.InRole();
    var mailGonder = RoleNames.MailIslemleri.InRole();
    var mKids = (List<int>)ViewBag.kIds;
}



<div class="row">
    @using (Html.BeginForm("Index", "Kullanicilar", FormMethod.Post, new { id = "frmKullanicilar" }))
    {
        <div class="col-md-12">

            <!-- START SIMPLE DATATABLE -->
            <div class="panel panel-info @(Model.Expand?" ":" panel-toggled")" id="pnlFltr">
                <input class="hide" name="Expand" value="@Model.Expand.ToString().ToLower()" id="Expand" />
                <div class="panel-heading padding-0">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-filter"></i> Filtre İşlemi
                    </h3>
                    <ul class="panel-controls">
                        @if (mailGonder && mKids.Count > 0)
                        {
                            <li>
                                <a href="javascript:void(0)" onclick="mGonderGB('@string.Join(",",mKids)',true,false)" title="Listelenen @mKids.Count Kişiye Mail Gönder"><i class="fa fa-envelope"></i></a>
                            </li>
                        }
                        <li><a href="javasctipr:void(0)" onclick="$('#Expand').val(($('#pnlFltr').hasClass('panel-toggled') ? 'true' :'false' )); " class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" style="table-layout:fixed;">

                        <tr>
                            <td>
                                <table style="width:100%;table-layout:fixed;">
                                    <tr>
                                        <td width="150">Kullanıcı Birimi</td>
                                        <td>
                                            @Html.DropDownList("BirimID", null, new { @class = "form-control", style = "padding:0px;", onchange = "$('#frmKullanicilar').submit();" })
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="padding-left:10px;">
                                <table style="width:100%;table-layout:fixed;">
                                    <tr>
                                        <td width="150">Ünvanı</td>
                                        <td>
                                            @Html.DropDownList("UnvanID", null, "", new { @class = "form-control", style = "padding:0px;", onchange = "$('#frmKullanicilar').submit();" })
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width:100%;table-layout:fixed;">
                                    <tr>
                                        <td width="150">Yetki Grubu / Birim Yetkisi</td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>@Html.DropDownList("YetkiGrupID", null, new { @class = "form-control", style = "padding:0px;", onchange = "$('#frmKullanicilar').submit();" })</td>
                                                    <td>/</td>
                                                    <td>@Html.DropDownList("YetkiliBirimID", null, new { @class = "form-control", style = "padding:0px;", onchange = "$('#frmKullanicilar').submit();" })</td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="padding-left:10px;">
                                <table style="width:100%;table-layout:fixed;">
                                    <tr>
                                        <td width="150">Giriş Şekli</td>
                                        <td>
                                            @Html.DropDownList("IsActiveDirectoryUser", null, new { @class = "form-control", style = "padding:0px;", onchange = "$('#frmKullanicilar').submit();" })
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width:100%;table-layout:fixed;">
                                    <tr>
                                        <td width="150">Kullanıcı Durumu</td>
                                        <td>
                                            @Html.DropDownList("IsAktif", null, new { @class = "form-control", style = "padding:0px;", onchange = "$('#frmKullanicilar').submit();" })
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="padding-left:10px;">
                                <table style="width:100%;table-layout:fixed;">
                                    <tr>
                                        <td width="150">Aranacak Kelime</td>
                                        <td><input name="AdSoyad" id="AdSoyad" type="text" onkeypress="if (event.which == 13) { $('#frmKullanicilar').submit(); }" value="@Model.AdSoyad" class="form-control" /></td>
                                        <td width="110px;"><a href="javascript:void(0);" onclick="$('#frmKullanicilar').submit();" class="btn btn-info"><i class="glyphicon glyphicon-filter"> Filtrele</i></a></td>
                                    </tr>
                                </table>
                                @if (Model.AdSoyad.IsNullOrEmpty() == false)
                                {
                                    <script>
                                        $(function () {
                                            SetCaretAtEnd(document.getElementById('AdSoyad'));
                                        });

                                    </script>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-danger" id="kulPnl">
                <div class="panel-heading padding-0">
                    <table style="table-layout:fixed;width:100%;">
                        <tr>
                            <td><h3 class="panel-title"><i class="fa fa-user-o fa-lg"></i> Kullanici Listesi</h3> </td>
                            <td width="350px;">
                                <ul class="panel-controls">
                                    @if (kayit)
                                    {
                                        <li><span class="label label-primary label-form"><a style="width:54px;color:white;" href="@Url.Action("Kayit")"><i class="fa fa-plus fa-lg"></i> Yeni</a></span></li>
                                    }
                                    <li><span class="label label-info label-form">Toplam: <b>@Model.RowCount</b></span></li>
                                    <li><span class="label label-success label-form">Aktif: <b>@Model.AktifCount</b></span></li>
                                    <li><span class="label label-danger label-form">Pasif: <b>@Model.PasifCount</b></span></li>
                                    <li><a href="javascript:void(0);" onclick="setTimeout(function () { window.location.href = '@Url.Action("Index")'; }, 600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>

                            @if (Model.RowCount > 0)
                            {
                                foreach (var item in Model.Data)
                                {

                                    <tr id="row_@item.KullaniciID">
                                        <td>
                                            <div class="btn-group">
                                                <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><i class="fa fa-cogs fa-lg"></i></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li role="presentation" class="dropdown-header" style="color:maroon;"><i class="fa fa-cogs fa-lg"></i> İşlemler</li>
                                                    @if (kayit)
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("Kayit")"><i class="fa fa-plus fa-lg"></i> Yeni</a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("Kayit", new { id=item.KullaniciID })"><i class="fa fa-edit fa-lg"></i>Düzenle</a>
                                                        </li>

                                                    }
                                                    @if (kHesabaGecme)
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("SetLogin", new { item.UserKey })" target="_blank"><i class="fa fa-user fa-lg"></i>Kullanıcı Hesabına Geç</a>
                                                        </li>
                                                    }
                                                    <li>
                                                        <a href="javascript:void(0)" onclick="detayGor(@item.KullaniciID,'#kulPnl')"><i class="fa fa-user fa-lg"></i>Detay Göster</a>
                                                    </li>

                                                    @if (mailGonder)
                                                    {
                                                        <li>
                                                            <a href="javascript:void(0)" onclick="mGonder('@item.KullaniciID')"><i class="fa fa-envelope fa-lg"></i>Mail Gönder</a>
                                                        </li>
                                                    }
                                                    @if (kayit)
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("KullaniciBirimYetkileri", new { id = item.KullaniciID })"><i class="fa fa-home fa-lg"></i>Birim Yetkileri</a>
                                                        </li>

                                                        <li>
                                                            <a href="@Url.Action("KullaniciHesapNoYetkileri", new { id = item.KullaniciID })"><i class="fa fa-list fa-lg"></i>Hesap No Yetkileri</a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("KullaniciHesapKodYetkileri", new { id = item.KullaniciID })"><i class="fa fa-list fa-lg"></i>Hesap Kodu Yetkileri</a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("Yetkilendirme", new { id=item.KullaniciID })"><i class="fa fa-lock fa-lg"></i>Erişim Yetkileri</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)" onclick="SilmeOnay(this,@item.KullaniciID)"><i class="fa fa-trash-o fa-lg"></i>Kullanıcıyı Sil</a>
                                                        </li>
                                                    }

                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <table class="table-hover" style="width:100%;table-layout:fixed;font-size:8pt;">
                                                <tr>
                                                    <td width="60">
                                                        <span class="user" style="width: 50px; height: 50px; margin-right: 5px;">
                                                            <img style="width: 50px; height: 50px;cursor:pointer;margin:0px;" onclick="detayGor(@item.KullaniciID,'#kulPnl')" src="@item.ResimAdi.ToKullaniciResim()">
                                                        </span>
                                                    </td>


                                                    <td style="vertical-align:top;padding:0px;">
                                                        <table style="width:100%;margin:0px;padding:0px;">

                                                            <tr>
                                                                <td width="60">Ad Soyad</td>
                                                                <td width="5">:</td>
                                                                <td>@item.Ad @item.Soyad</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Birimi</td>
                                                                <td>:</td>
                                                                <td>@item.BirimAdi</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ünvanı</td>
                                                                <td>:</td>
                                                                <td>@item.UnvanAdi</td>
                                                            </tr>
                                                        </table>

                                                    </td>
                                                    <td width="280" style="vertical-align:top;padding:0px;">
                                                        <table style="width:100%;margin:0px;padding:0px;">

                                                            <tr>
                                                                <td width="35">K. Adı</td>
                                                                <td width="5">:</td>
                                                                <td>@item.KullaniciAdi (@item.YetkiGrupAdi)</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Email</td>
                                                                <td>:</td>
                                                                <td>@item.EMail</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Tel</td>
                                                                <td>:</td>
                                                                <td>@item.Tel</td>
                                                            </tr>
                                                        </table>

                                                    </td>
                                                    <td width="200" style="vertical-align:top;padding:0px;">
                                                        <table style="width:100%;margin:0px;padding:0px;">

                                                            <tr>
                                                                <td width="75">Oluşturma T</td>
                                                                <td width="5">:</td>
                                                                <td>@item.OlusturmaTarihi.ToFormatDateAndTime()</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Son Oturum T</td>
                                                                <td>:</td>
                                                                <td>@item.LastLogonDate.ToFormatDateAndTime()</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Durum</td>
                                                                <td>:</td>
                                                                <td><span class="badge badge-@(item.IsAktif ? "success" : "danger")">@(item.IsAktif ? "Aktif" : "Pasif")</span></td>
                                                            </tr>
                                                        </table>
                                                    </td>


                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>
        </div>

    }
</div>
<script type="text/javascript">
    function ShowDetail2(id) {
        var rwID = $('#iShowAK_' + id);
        var cls = 'clsAK-' + id;
        var unTogled = ($('.' + cls).hasClass("hide"));
        toggleByClass(rwID, cls, unTogled);
    }
</script>
@if (kayit)
{
    <script>
        function SilmeOnay(sndr, id) {
            setTimeout(function () {
                var SoruHtml = "<table style='color:maroon;table-layout:fixed;width:100%;'><tr><td width='30' style='padding-left:10px;'><i class='fa fa-info fa-2x'></i></td><td style='padding-right:10px;'>Seçilen Kullanıcıyı Silmek İstiyor Musunuz?</td></tr></table>";
                var _panelM = $('#kulPnl');
                _pRefresh(_panelM, false);
                $.ajax({
                    url: '@Url.Action("GetKullaniciDetay", "Ajax")',
                    data: { 'KullaniciID': id },
                    success: function (result) {
                        _pRefresh(_panelM, true);
                        bootbox.dialog({
                            message: result + SoruHtml,
                            title: "Kullanıcı Silme İşlemi",
                            buttons: {
                                success: {
                                    label: "Kullanıcıyı Sil",
                                    className: "btn-danger",
                                    callback: function () {
                                        $.ajax({
                                            url: '@Url.Action("Sil", "Kullanicilar")',
                                            data: { id: id },
                                            success: function (result) {
                                                toastr[result.success ? "success" : "error"](result.message, "Kullanıcı Silme İşlemi")
                                                if (result.success) {
                                                    $(sndr).closest("tr").remove();
                                                }

                                            },
                                            error: function (err) {
                                                _pRefresh(_panelM, true);
                                                alert(err.responseText);
                                            }
                                        });
                                    }
                                },
                                danger: {
                                    label: "Vazgeç",
                                    className: "btn-success",
                                    callback: function () {
                                    }
                                }
                            }
                        });
                    },
                    error: function (err) {
                        _pRefresh(_panelM, true);
                        alert(err.responseText);

                    }
                });
            }, 120);
        }
    </script>
}
