@using WebApp.Models
@using WebApp.Utilities.Extensions
@model FrKullanicilar
@{
    Layout = null;
}

@using (Ajax.BeginForm("GetImageUploadPost", null, new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "GetImageUploadForm" }))
{
    <input type="hidden" name="KullaniciID" id="KullaniciID" value="@Model.KullaniciID" />
    <div class="panel panel-default form-horizontal" id="_ImageUploadPnl">
        <div class="panel-body form-group-separated">
            <div class="form-group">
                <label class="col-md-2 col-xs-4 control-label  padding-top-0 padding-bottom-0">Ad Soyad</label>
                <div class="col-md-10 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                    @Model.Ad @Model.Soyad
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 col-xs-4 control-label padding-top-0 padding-bottom-0">Profil Resmi</label>
                <div class="col-md-10 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                    <div id="pImageD" class="form-group">
                        @if (Model.ResimAdi.IsNullOrWhiteSpace() == false)
                        { 
                            <div class="panel panel-default" style="padding:0px;margin:0px;">
                                <div class="panel-body profile bg-info" style="padding:0px;margin:0px;">
                                    <div class="profile-image">
                                        <img class="pImageD" style="width:120px;height:120px;" src="@Model.ResimAdi.ToKullaniciResim()?id=@Guid.NewGuid()" alt="@Model.Ad @Model.Soyad">
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="@(Model.ResimAdi.IsNullOrWhiteSpace() == false ? "col-md-10 col-xs-8" : "col-md-12")">
                            <input type="file" name="KProfilResmi" id="KProfilResmi" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <script>
        $('#KProfilResmi').fileinput({
            showUpload: false,
            showCaption: false,
            browseClass: 'btn btn-primary',
            browseLabel: 'Resim Sec',
            removeLabel: 'Secileni Sil',
            fileType: 'any'
        });
    </script>
}

