@using WebApp.Models
@using WebApp.Utilities.Extensions
@using WebApp.Utilities.MenuAndRoles
@model  FmMaddeTurleri
@{ 
     
    Layout = "~/Views/Shared/_Layout.cshtml";
    var kayitYetki = RoleNames.MaddeTurleriKayit.InRole();
}

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-12">

            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-list-alt"></i> Madde Türleri Listesi</h3>
                    <ul class="panel-controls">
                        @if (kayitYetki)
                        {
                            <li><span class="label label-primary label-form"><a href="@Url.Action("Kayit")" style="color:white;"><i class="fa fa-plus fa-lg"></i> Yeni</a></span></li>
                        }
                        <li><span class="label label-info label-form">Toplam: <b>@Model.RowCount</b></span></li>
                        <li><span class="label label-success label-form">Aktif: <b>@Model.AktifCount</b></span></li>
                        <li><span class="label label-danger label-form">Pasif: <b>@Model.PasifCount</b></span></li>
                        <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Index")';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="75"></th>
                            <th class="sirala sorting" field="MaddeTurAdi">Madde Tür Adı</th>
                            <th width="100" field="IsPlanlananDegerOlacak" class="sirala sorting" title="Aktif Yıl Planlanan Değer Olacak Mı?">Aktif Yıl P.D</th>
                            <th width="100" field="IsPlanlananDegerOlacakGelecekYil" class="sirala sorting" title="Gelecek Planlanan Değer Olacak Mı?">Gelecek Yıl P.D</th> 
                            <th width="70" class="sirala sorting" field="IsAktif">Durum</th>
                            <th width="35"></th>
                        </tr>
                        <tr class="filtrele">
                            <th></th>
                            <th><input name="MaddeTurAdi" type="text" value="@Model.MaddeTurAdi" class="form-control" /></th>
                            <th>
                                @Html.DropDownList("IsPlanlananDegerOlacak", null, new { @class = "form-control", style = "padding:0px;" })
                            </th>
                            <th>
                                @Html.DropDownList("IsPlanlananDegerOlacakGelecekYil", null, new { @class = "form-control", style = "padding:0px;" })
                            </th> 
                            <th>
                                @Html.DropDownList("IsAktif", null, new { @class = "form-control", style = "padding:0px;" })
                            </th> 
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                            @if (Model.RowCount > 0)
                            {
                                var rowIndex = Model.StartRowIndex;
                                foreach (var item in Model.Data)
                                {
                                    rowIndex++; 
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width:30px;">@rowIndex</td>
                                                    <td>
                                                        <ul class="panel-controls">
                                                            <li id="iShow_@item.MaddeTurID" onclick="ShowDetail(@item.MaddeTurID)">
                                                                <a href="javascript:void(0)"><span class="fa fa-angle-up"></span> </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>@item.MaddeTurAdi</td>
                                        <td>
                                            <span class="badge badge-@(item.IsPlanlananDegerOlacak ? "success" : "info")">@item.IsPlanlananDegerOlacak.ToEvetHayir()</span>
                                        </td>
                                        <td>
                                            <span class="badge badge-@(item.IsPlanlananDegerOlacakGelecekYil ? "success" : "info")">@item.IsPlanlananDegerOlacakGelecekYil.ToEvetHayir()</span>
                                        </td> 
                                        <td id="tdIa_@item.MaddeTurID" style="text-align:center;">
                                            <span class="badge badge-@(item.IsAktif ? "success" : "danger")">@item.IsAktif.ToAktifPasif()</span>
                                        </td>
                                        <td>
                                            @if (kayitYetki)
                                            {
                                                <a href="@Url.Action("Kayit", "MaddeTurleri", new { id = item.MaddeTurID })"><i class="fa fa-edit fa-lg tooltips" data-style="blue" data-original-title="Düzelt"></i></a>
                                                <a href="javascript:void(0)" onclick="SilmeOnay(this,@item.MaddeTurID)"><i class="fa fa-trash-o fa-lg tooltips" data-style="blue" data-original-title="Sil"></i></a>
                                            }
                                        </td>
                                    </tr>
                                    <tr class="cls-@item.MaddeTurID hide">
                                        <td id="cls-@item.MaddeTurID" colspan="7" style="padding: 1px 1px 2px 75px;">
                                            <div class="panel panel-default form-horizontal" id="PnlOt_@item.MaddeTurID" style="margin:0px;padding:0px;">
                                                <div class="panel-body" style="margin:0px;padding:0px;">
                                                    <div class="panel-body form-group-separated">
                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label">Aktif Yıl Planlanan Değer Olacak Mı?</label>
                                                            <div class="col-md-10 col-xs-8"><span class="badge badge-@(item.IsPlanlananDegerOlacak ? "success" : "info")">@item.IsPlanlananDegerOlacak.ToEvetHayir()</span></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label">Gelecek Yıl Planlanan Değer Olacak Mı?</label>
                                                            <div class="col-md-10 col-xs-8"><span class="badge badge-@(item.IsPlanlananDegerOlacakGelecekYil ? "success" : "info")">@item.IsPlanlananDegerOlacakGelecekYil.ToEvetHayir()</span></div>
                                                        </div> 
                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label">İşlem Yapan</label>
                                                            <div class="col-md-10 col-xs-8">@item.IslemYapan [@item.IslemTarihi.ToFormatDateAndTime()][@item.IslemYapanIP]</div>
                                                        </div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </td>
                                    </tr>


                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" style="text-align: center;">
                                        [ Listelenen Kayıt Yok ]
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    function ShowDetail(id,IsExpand) {
        var sndr = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).hasClass("hide"));
        if (IsExpand) {
            if (unTogled) toggleByClass(sndr, cls, unTogled);
        }
        else toggleByClass(sndr, cls, unTogled);
    }
    function SilmeOnay(sndr, id) {
        var htmlCont = $("#cls-" + id).html().replace('hide', '').replace('_replaceHide','hide');
        var SoruHtml = "<table style='color:maroon;table-layout:fixed;width:100%;'><tr><td width='30' style='padding-left:10px;'><i class='fa fa-info fa-2x'></i></td><td style='padding-right:10px;'>Seçilen Maddeyi Silmek İstiyor Musunuz?</td></tr></table>";
        bootbox.dialog({
            message: htmlCont + SoruHtml,
            title: "Madde Türü Silme İşlemi",
            buttons: {
                success: {
                    label: "Madde Türünü Sil",
                    className: "btn-danger",
                    callback: function () {
                        Sil(sndr, id);
                    }
                },
                danger: {
                    label: "Vazgeç",
                    className: "btn-success",
                    callback: function () {
                    }
                }
            }
        });
    }
    function Sil(sndr, id) {
        $.ajax({
            url: '@Url.Action("Sil", "MaddeTurleri")',
            data: { id: id },
            success: function (result) {
                toastr[result.success ? "success" : "error"](result.message, "Madde Türü Silme İşlemi")
                if (result.success) {
                    $(sndr).closest("tr").remove();
                     $(".cls-" + id).remove();
                }

            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }
</script>
