@using Database
@using WebApp.Business
@using WebApp.Utilities.Extensions
@using WebApp.Utilities.Helpers
@using WebApp.Utilities.MessageBox
@model MaddeTurleri
@{
    var mmMessage = ViewBag.MmMessage as MmMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var secilenlerDonem = (List<MaddeTurleriVeriGirisDonemleri>)ViewBag.SecilenlerDonem;
    var donemData = MaddelerBus.GetMaddeTuruVeriGirisDonemleri(Model.MaddeTurID, secilenlerDonem);
    donemData.InputName = "VaCokluVeriDonemIDs";
    donemData.PanelTitle = "Madde Türü İçin Veri Giriş Dönemleri Seçiniz";
    donemData.ShowIsDosyaYuklensin = true;

}
<div class="row">
    <form method="post" class="form-horizontal" role="form">
        <input type="text" style="display:none;" id="MaddeTurID" name="MaddeTurID" value="@Model.MaddeTurID" />
        <div class="col-md-12 col-md-12 col-md-12">
            <div class="panel panel-default" id="bPanel">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i> @(Model.MaddeTurID <= 0 ? "Yeni Madde Türü Tanımlama" : "Varolan Madde Türü Güncelleme İşlemi")</h3>
                    <ul class="panel-controls">
                        <li><a href="@Url.Action("Kayit", Model.MaddeTurID)" class=""><span class="fa fa-refresh panel-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-4 col-xs-4 control-label">Madde Tür Adı</label>
                                <div class="col-md-8 col-xs-8">
                                    <input type="text" name="MaddeTurAdi" id="MaddeTurAdi" value="@Model.MaddeTurAdi" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-xs-4 control-label">Aktif Yıl Planlanan Değer Olacak</label>
                                <div class="col-md-8 col-xs-8">
                                    <div class="make-switch" data-on-label="Evet" data-off-label="Hayır" data-on="success" data-off="info">
                                        <input type="checkbox" value="true" name="IsPlanlananDegerOlacak" class="toggle" @Model.IsPlanlananDegerOlacak.ToChecked() />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-xs-4 control-label">Gelecek Yıl Planlanan Değer Olacak</label>
                                <div class="col-md-8 col-xs-8">
                                    <div class="make-switch" data-on-label="Evet" data-off-label="Hayır" data-on="success" data-off="info">
                                        <input type="checkbox" value="true" name="IsPlanlananDegerOlacakGelecekYil" class="toggle" @Model.IsPlanlananDegerOlacakGelecekYil.ToChecked() />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 col-xs-4 control-label">Süreç maddeleri güncellenirken veri giriş dönemleri madde türünden kopyalansın</label>
                                <div class="col-md-8 col-xs-8">
                                    <div class="make-switch" data-on-label="Evet" data-off-label="Hayır" data-on="success" data-off="danger">
                                        <input type="checkbox" value="true" name="IsVeriGirisDonemleriMaddeTurundenKopyalansin" class="toggle" @Model.IsVeriGirisDonemleriMaddeTurundenKopyalansin.ToChecked() onchange="if ($(this).prop('checked')) { $('.maddeAylari').removeClass('hide'); } else {  $('.maddeAylari').addClass('hide');}" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group maddeAylari @(Model.IsVeriGirisDonemleriMaddeTurundenKopyalansin?"":"hide")">
                                <label class="col-md-2 col-xs-2 control-label"></label>
                                <div class="col-md-10 col-xs-10">
                                    @donemData.ToRenderPartialViewHtml("Ajax", "GetChkList")
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-xs-4 control-label">Durum</label>
                                <div class="col-md-8 col-xs-8">
                                    <div class="make-switch" data-on-label="Aktif" data-off-label="Pasif" data-on="success" data-off="danger">
                                        <input type="checkbox" value="true" name="IsAktif" class="toggle" @Model.IsAktif.ToChecked() />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply"></i>Geri Dön</a>
                    <button class="btn btn-primary pull-right"><i class="fa fa-save"></i>Kaydet</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>

    $(function () {
        var model = '@Html.Raw(Json.Encode(mmMessage))';
        validateControl(model);
    });
</script>

