@using Database;
@using WebApp.Utilities.Extensions
@using WebApp.Utilities.MessageBox
@model MailSablonlari
@{
    var mmMessage = ViewBag.MmMessage as MmMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <form method="post" class="form-horizontal" enctype="multipart/form-data" role="form">
        <input type="text" style="display:none;" id="MailSablonlariID" name="MailSablonlariID" value="@Model.MailSablonlariID" />
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i> Şablon Tanımlama İşlemi</h3>
                    <ul class="panel-controls">
                        <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Kayit", Model.MailSablonlariID)';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>


                <div class="panel-body">
                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated">
                         

                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Şablon Adı</label>
                                <div class="col-md-9 col-xs-8">
                                    <input type="text" name="SablonAdi" id="SablonAdi" value="@Model.SablonAdi" class="form-control">

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 col-xs-12">
                                    <div>
                                        <textarea id="AciklamaHtml" name="SablonHtml" class="form-control Ckeditor">@Model.SablonHtml</textarea>
                                        <textarea style="display: none;" id="Aciklama" name="Sablon">@Model.Sablon</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 col-xs-12">
                                    <div>
                                        <img src="~/Images/Attachment.png" style="height: 16px;" /><span> Şablon Ekleri:</span>
                                        <table id="tableEk" class="table table-striped table-hover table-bordered" style="width: 100%; table-layout: fixed;">

                                            <tr class="AnaRow">
                                                <th style="width: 30px; padding:0px;">S.No</th>
                                                <th style="padding: 0px;">Ek Adı</th>
                                                <th style="padding: 0px;">Ek </th>
                                                <th style="padding: 0px; width: 35px;"></th>
                                            </tr>
                                            @foreach (var item in Model.MailSablonlariEkleris.Select((s, inx) => new { s, inx }))
                                            {
                                                <tr class="Detay">
                                                    <td style="padding:0px;vertical-align:middle;" class="Sno">
                                                        @(item.inx + 1))
                                                    </td>
                                                    <td style='padding: 0px;'>
                                                        <input type="text" name="MailSablonlariEkiID" style="display: none;" value="@item.s.MailSablonlariEkiID" />
                                                        <input type="text" name="EkAdi" style="padding: 0px; height: 22px; " value="@item.s.EkAdi" maxlength="250" placeholder="Ek Adı Giriniz" class="form-control" />
                                                    </td>
                                                    <td style='padding: 0px; vertical-align: middle;'>
                                                        <a href="@item.s.EkDosyaYolu" target="_blank"><span class="fa fa-download" style="color: green;"></span>&nbsp;@item.s.EkAdi</a>
                                                    </td>
                                                    <td style='padding-top: 0px;padding-bottom:0px; vertical-align: middle;text-align:center;'>
                                                        <span style="cursor:pointer;" onclick="EkSil(this)" class="fa fa-trash-o" data-original-title="Eki Sil"></span>
                                                    </td>
                                                </tr>
                                            }

                                            <tr class="foterRow">
                                                <td colspan="4" style="text-align: center;">
                                                    <a href="javascript:void(0)" onclick="yeniEkEkle()" class="btn btn-xs btn-success"><i class="fa fa-plus tooltips" data-style="blue" data-original-title="">Yeni Ek Ekle</i></a>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                            </div>
                            @if (Model.MailSablonlariID > 0)
                            {
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-4 control-label">Durum</label>
                                    <div class="col-md-9 col-xs-8">
                                        <div class="make-switch" data-on-label="Aktif" data-off-label="Pasif" data-on="success" data-off="danger">
                                            <input type="checkbox" value="true" name="IsAktif" class="toggle" @Model.IsAktif.ToChecked() />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply"></i>Geri Dön</a>
                    <a class="btn btn-primary pull-right" onclick="sbmtDosyaKontrol()"><i class="fa fa-save"></i>Kaydet</a>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Content/ckeditor/showCk.js"></script>
<script>

    $(function () {   
        var model = '@Html.Raw(Json.Encode(mmMessage))';
        validateControl(model);
    });

    $("form").submit(function (event) {
        var txt = CKEDITOR.instances.AciklamaHtml.document.getBody().getText();
        $('#Aciklama').val(txt);
    });

    function yeniEkEkle() {
        var row = "<tr class='Detay'>" +
                       "<td style='padding:0px;vertical-align:middle;' class='Sno'></td>" +
                        "<td style='padding:0px;' ><input type='text' name='MailSablonlariEkiID' style='display: none;'/><input type='text'name='EkAdi' maxlength='250' style='padding: 0px; height: 22px;' placeholder='Ek Adı Giriniz' class='form-control' /></td>" +
                        "<td style='padding:0px;'><input type='file' name='DosyaEki' style='padding: 0px; height: 22px;'  class='form-control' /></td>" +
                        "<td style='padding-top:0px;padding-bottom:0px;vertical-align:middle;text-align:center;'>" +
                             "<span style='cursor:pointer;' onclick='EkSil(this)' class='fa fa-trash-o' data-original-title='Eki Sil'></span>" +
                        "</td>" +
                   "</tr>";

        $(row).insertBefore('.foterRow');
        SnoVer();
    }
    function EkSil(sndr) {
        $(sndr).parents('tr').first().remove();
        SnoVer();
    }
    function SnoVer() {
        setTimeout(function () {
            $('#tableEk').find('.Detay').each(function (inx, itmx) {
                var sNoTd = $(itmx).find('td').first().text((inx + 1) + ")");
            })
        }, 200);
    }
    function sbmtDosyaKontrol() {

        var saveOk = true;
        $('#tableEk').find('.Detay').each(function (inx, itmx) {
            var duyuruDosyaAdi = $(itmx).find('td').eq(1).find("input[name='EkAdi']").first().val();
            var duyuruDosyaEki = "";
            if ($(itmx).find('td').eq(1).find("input").first() != null && $(itmx).find('td').eq(1).find("input").first() != "") {
                duyuruDosyaEki = $(itmx).find('td').eq(2).find("input").first().val();
            }
            if (duyuruDosyaAdi == "") {
                saveOk = false;
                $(itmx).find('td').eq(1).pulsate({
                    color: "#fdbe41",
                    reach: 100,
                    repeat: 3,
                    speed: 400,
                    glow: true
                });
            }
            if (duyuruDosyaEki == "") {
                $(itmx).find('td').eq(2).pulsate({
                    color: "#fdbe41",
                    reach: 100,
                    repeat: 3,
                    speed: 400,
                    glow: true
                });
            }
        });
       
        if ($('#SablonAdi').val() == "") {
            saveOk = false;
            $('#SablonAdi').parents('div').first().pulsate({
                color: "#fdbe41",
                reach: 100,
                repeat: 3,
                speed: 400,
                glow: true
            });
        }
        var txt = CKEDITOR.instances.AciklamaHtml.document.getBody().getText().trim();
        if (txt == "") {
            saveOk = false;
            $('#AciklamaHtml').parents('div').first().pulsate({
                color: "#fdbe41",
                reach: 100,
                repeat: 3,
                speed: 400,
                glow: true
            });
        }   
        if (saveOk) $('form').submit();
        else return saveOk;
    }
</script>

